<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://roadblock.org"
            class="bioparts.BiopartsPackage"
            genModel="model/bioparts.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bioparts -->
      <package
            uri="http://www.roadblock.org/bioparts.ecore"
            class="roadblock.emf.bioparts.Bioparts.BiopartsPackage"
            genModel="model/bioparts.genmodel"/>
   </extension>

</plugin>
