# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


roadblock.emf.ibl/bin

roadblock.datapopulation/bin
roadblock.datapopulation/xtend-gen/

roadblock.modelchecking/bin

roadblock.simulation/bin
roadblock.simulation/xtend-gen

roadblock.xtext.ibl/bin
roadblock.xtext.ibl/src-gen
roadblock.xtext.ibl/xtend-gen

roadblock.xtext.ibl.ui/bin
roadblock.xtext.ibl.ui/src-gen
roadblock.xtext.ibl.ui/xtend-gen

roadblock.xtext.ibl.tests/xtend-gen

roadblock.datapopulation/bin
roadblock.datapopulation/xtend-gen/

roadblock.biocompiler/xtend-gen/
roadblock.simulation/xtend-gen/

