# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


roadblock.bin/bin

roadblock.datapopulation/bin
roadblock.datapopulation/xtend-gen/

roadblock.emf.ibl/bin
roadblock.emf.ibl/src
roadblock.emf.ibl/text
roadblock.emf.ibl.edit
roadblock.emf.ibl.editor
roadblock.emf.ibl.tests

roadblock.emf.bioparts/bin
roadblock.emf.bioparts/src
roadblock.emf.bioparts/text
roadblock.emf.bioparts.edit/
roadblock.emf.bioparts.editor/
roadblock.emf.bioparts.tests/

roadblock.ibw/bin

roadblock.modelchecking/bin
roadblock.modelchecking.ui/bin

roadblock.simulation/bin
roadblock.simulation/xtend-gen
roadblock.simulation.ui/bin

roadblock.xtext.ibl/bin
roadblock.xtext.ibl/src-gen
roadblock.xtext.ibl/xtend-gen

roadblock.xtext.ibl.ui/bin
roadblock.xtext.ibl.ui/src-gen
roadblock.xtext.ibl.ui/xtend-gen

roadblock.xtext.ibl.tests/bin
roadblock.xtext.ibl.tests/xtend-gen

roadblock.datapopulation/bin
roadblock.datapopulation/xtend-gen/

roadblock.biocompiler/xtend-gen/
roadblock.simulation/xtend-gen/

