<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         name="Infobiotics Workbench"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Infobiotics Workbench">
         <property
               name="appName"
               value="Infobiotics Workbench">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="roadblock.ibw.perspectives.modelchecking"
         name="Model Checking Perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="roadblock.ibw.perspectives.Modelchecking"
            id="roadblock.ibw.perspectives.modelchecking"
            name="Verification">
      </perspective>
   </extension>
   <extension
         id="roadblock.ibw.perspectives.simulation"
         name="Simulation Perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="roadblock.ibw.perspectives.Simulation"
            id="roadblock.ibw.perspectives.simulation"
            name="Simulation">
      </perspective>
   </extension>

</plugin>
