<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="IBW Biocompiler"
            id="roadblock.biocompiler.ui">
      </category>
      <view
            category="roadblock.biocompiler.ui"
            class="roadblock.biocompiler.ui.views.MainView"
            id="roadblock.biocompiler.ui.views.mainView"
            name="Biocompiler">
      </view>
      <view
            category="roadblock.biocompiler.ui"
            class="roadblock.biocompiler.ui.views.ConsoleView"
            id="roadblock.biocompiler.ui.views.consoleView"
            name="Console view">
      </view>
      <view
            category="roadblock.biocompiler.ui"
            class="roadblock.biocompiler.ui.views.ResultsView"
            id="roadblock.biocompiler.ui.views.resultsView"
            name="Results view">
      </view>
      
      </extension>
</plugin>
