<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bioparts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="roadblock.emf.bioparts.Bioparts.presentation.BiopartsModelWizardID"
            name="%_UI_BiopartsModelWizard_label"
            class="roadblock.emf.bioparts.Bioparts.presentation.BiopartsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BiopartsModelFile.gif">
         <description>%_UI_BiopartsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bioparts -->
      <editor
            id="roadblock.emf.bioparts.Bioparts.presentation.BiopartsEditorID"
            name="%_UI_BiopartsEditor_label"
            icon="icons/full/obj16/BiopartsModelFile.gif"
            extensions="bioparts"
            class="roadblock.emf.bioparts.Bioparts.presentation.BiopartsEditor"
            contributorClass="roadblock.emf.bioparts.Bioparts.presentation.BiopartsActionBarContributor">
      </editor>
   </extension>

</plugin>
