<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.roadblock.org/ibl.ecore"
            class="roadblock.emf.ibl.Ibl.IblPackage"
            genModel="model/ibl.genmodel"/>
   </extension>

null
</plugin>
