<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="roadblock.simulation.ui.views.mainView"
         name="Simulation"
         point="org.eclipse.ui.views">
      <category
            name="Simulation"
            id="roadblock.simulation.ui">
      </category>
      <view
            category="roadblock.simulation.ui"
            class="roadblock.simulation.ui.views.MainView"
            id="roadblock.simulation.ui.views.mainView"
            name="Simulation">
      </view>
      <view
            category="roadblock.simulation.ui"
            class="roadblock.simulation.ui.views.ResultsView"
            id="roadblock.simulation.ui.views.resultsView"
            name="Results view">
      </view>
      </extension>
</plugin>
